<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Admin</title>

    <!-- Fontfaces CSS-->
    <link href="/stylesheets/css/font-face.css" rel="stylesheet">
    <link href="/stylesheets/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet">
    <link href="/stylesheets/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet">
    <link href="/stylesheets/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="/stylesheets/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet">

    <!-- Bootstrap CSS-->
    <link href="/stylesheets/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="/stylesheets/vendor/animsition/animsition.min.css" rel="stylesheet">
    <link href="/stylesheets/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet"
        media="all">
    <link href="/stylesheets/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="/stylesheets/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="/stylesheets/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="/stylesheets/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="/stylesheets/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="/stylesheets/css/theme.css" rel="stylesheet">

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="/auth/dashboard">
                            <img src="/stylesheets/images/icon/logo.png" alt="CoolAdmin" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>

        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="#">
                    <img src="/stylesheets/images/icon/logo-mini.png" alt="Cool Admin" />
                </a>
                <h5>Hello Amin</h5>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="active has-sub">
                            <a class="js-arrow" href="/auth/dashboard">
                                <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                        <li>
                            <a href="/auth">
                                <i class="fas fa-chart-bar"></i>User Management</a>
                        </li>
                        <li>
                            <a href="/movie">
                                <i class="fas fa-table"></i>Movie Management</a>
                        </li>
                        <li>
                            <a href="/theatre">
                                <i class="far fa-check-square"></i>Theatre Management</a>
                        </li>
                        <li>
                            <a href="/theatre/get-all-shows">
                                <i class="fas fa-calendar-alt"></i>Show Management</a>
                        </li>
                        <li>
                            <a href="/category">
                               <i class="fas fa-folder"></i>Category Management</a>
                        </li>
                        <li>
                            <a href="/auth/logout">
                                <i class="fas fa-sign-out-alt"></i>Logout</a>
                        </li>

                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- MAIN CONTENT-->
            <div class="main-content container-fluid">
                {{{body}}}
            </div>
        </div>


        <!-- Jquery JS-->
        <script src="/stylesheets/vendor/jquery-3.2.1.min.js"></script>
        <!-- Bootstrap JS-->
        <script src="/stylesheets/vendor/bootstrap-4.1/popper.min.js"></script>
        <script src="/stylesheets/vendor/bootstrap-4.1/bootstrap.min.js"></script>
        <!-- Vendor JS       -->
        <script src="/stylesheets/vendor/slick/slick.min.js">
        </script>
        <script src="/stylesheets/vendor/wow/wow.min.js"></script>
        <script src="/stylesheets/vendor/animsition/animsition.min.js"></script>
        <script src="/stylesheets/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
        </script>
        <script src="/stylesheets/vendor/counter-up/jquery.waypoints.min.js"></script>
        <script src="/stylesheets/vendor/counter-up/jquery.counterup.min.js">
        </script>
        <script src="/stylesheets/vendor/circle-progress/circle-progress.min.js"></script>
        <script src="/stylesheets/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
        <script src="/stylesheets/vendor/chartjs/Chart.bundle.min.js"></script>
        <script src="/stylesheets/vendor/select2/select2.min.js">
        </script>

        <!-- Main JS-->
        <script src="/stylesheets/js/main1.js"></script>

</body>

</html>
<!-- end document-->