<!-- Book Appointment Start -->
<div class="container-fluid appointment py-5">
  <div class="container py-5">
    <div class="row g-5 align-items-center">
      <div class="col-lg-6 wow fadeInLeft" data-wow-delay="0.2">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2462.900715253232!2d105.78832226700888!3d21.024547543576098!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b329f68977%3A0x6ddf5ff1e829fc56!2zxJDhuqFpIEjhu41jIEdyZWVud2ljaCBWaeG7h3QgTmFt!5e0!3m2!1svi!2sus!4v1714989320028!5m2!1svi!2sus"
          width="100%"
          height="650"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
      <div class="col-lg-6 wow fadeInRight" data-wow-delay="0.4s">
        <div class="appointment-form rounded p-5">
          <p class="fs-4 text-uppercase text-primary">Contact us</p>
          <ul class="list-group">
            <li class="list-group-item"><strong>Name:</strong> Doan Van Chien</li>
            <li class="list-group-item"><strong>Email:</strong>
              doanvanchien06022002@gmail.com</li>
            <li class="list-group-item"><strong>Phone:</strong> 0367608114</li>
            <li class="list-group-item"><strong>Address:</strong>
              2 P. Pham Van Bach, Dich Vong, Cau Giay, Ha Noi, Viet Nam</li>
          </ul>
          <div class="user-image mt-4">
            <img
              src="https://scontent.fhan4-5.fna.fbcdn.net/v/t39.30808-1/355462451_3555612304721540_5425213071173920004_n.jpg?stp=dst-jpg_p480x480&_nc_cat=103&ccb=1-7&_nc_sid=5f2048&_nc_ohc=ecpNz9CJ7-YQ7kNvgFpgEv5&_nc_oc=AdjsUx7nIisD_kWGzHif_T5eh-PceeGj9Nnu0HeacGH_Io-L6HKepM_cj9dArxpZ3493bycKFJRR26xvQsNPgLec&_nc_ht=scontent.fhan4-5.fna&cb_e2o_trans=t&oh=00_AfBrXTaEaUv78iW-1BUTa-rO4-xkVv084wZwRr3109m6mg&oe=663EE2BF"
              width="325"
              ,
              height="350"
              alt="User Image"
              class="img-fluid rounded"
            />
          </div>

        </div>
      </div>
    </div>
  </div>
</div>